@tailwind base;
@tailwind components;
@tailwind utilities;

.yellow-btn {
  /* Estilos del botón */
  @apply focus:ring-0  bg-custom-yellow text-white  font-medium rounded-full text-sm px-4 py-2 text-center hover:bg-yellow-500 transition duration-300 hover:-translate-y-[2px];
}

@font-face {
  font-family: "Laila-Regular";
  src: url("/fonts/Laila-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito-Regular";
  src: url("/fonts/NunitoSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
}

* {
  font-family: "Poppins-Regular", sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-family: "Laila-Regular", sans-serif;
}
