/* Establece la perspectiva en el contenedor */
.perspective-container {
  perspective: 200px !important;
}

.perspective-element {
  transform: rotatey(-45deg) !important;
  border: 10px white;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
}

.gradiente-opacidad {
  height: 650px;
  width: 550px;
  position: absolute;
  bottom: 0;
  right: 60%;
  transform: translateX(50%);
  background: linear-gradient(to top, rgba(250, 195, 39, 1), rgba(250, 195, 39, 0.2));
  border-radius: 50% 50% 0% 0%;
}
